{% extends "personal/header.html" %}

{% block content %}
	<form action="" method="post" class="col-sm-2">
{% csrf_token %}
  <div style="float:left;position:relative;margin-right:40px"> Welcome {{username}}!<br> Here you can choose to change your default settings.
  These settings can be overridden by selecting optional settings.
  <div style"color:red">User Does not Exist</div>
  <br><br>Difficulty Preference<br>
  <input type="checkbox" value="easy" name="difficulty"> Easy<br>
  <input type="checkbox" value="intermediate" name="difficulty"> Intermediate<br>
  <input type="checkbox" value="hard" name="difficulty"> Hard<br>
  <input type="checkbox" value="extreme" name="difficulty"> Extreme<br><br>
  Available equipment<br>
  <input type="checkbox" value="Barbell" name="equipment"> Barbell<br>
  <input type="checkbox" value="Dumbbell" name="equipment"> Dumbell<br>
  <input type="checkbox" value="Exercise Ball" name="equipment"> Exercise Ball<br>
  <input type="checkbox" value="Cable" name="equipment"> Cable<br>
  <input type="checkbox" value="E-Z Curl Bar" name="equipment"> E-Z Curl Bar<br>
  <input type="checkbox" value="Machine" name="equipment"> Machine<br>
  <input type="checkbox" value="Medicine Ball" name="equipment"> Medicine Ball<br>
  <input type="checkbox" value="None" name="equipment"> None<br>
  <input type="checkbox" value="Other" name="equipment"> Other<br>
  <input type="checkbox" value="Body Only" name="equipment"> Body Only<br>
  <input type="checkbox" value="Kettlebells" name="equipment"> Kettlebells<br>
  <input type="checkbox" value="Bands" name="equipment"> Bands<br><br>
  <input type="submit" value="Update Settings" name="Submit" style="color:black"><br></div><br><br>
</form>
{% endblock %}