
<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class="layout-signup " >
  <head>

          <!--[if !IE]> -->
  <script src="//www.scdn.co/build/js/jquery-2-55dbf677db.1.3.min.js"></script>
<!-- <![endif]-->

<!--[if gte IE 9]>
  <script src="//www.scdn.co/build/js/jquery-2-55dbf677db.1.3.min.js"></script>
<![endif]-->

<!--[if lt IE 9]>
  <script src="//www.scdn.co/build/js/jquery-1-71306af3b2.11.0.min.js"></script>
<![endif]-->
    
          <style>.async-hide { opacity: 0 !important}</style>
<script>
        window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'language': 'en',
      'market': 'us',
      'loggedIn': false
    });
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
    })(window,document.documentElement,'async-hide','dataLayer', 2000,{'GTM-P9JKJ53':true});
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-5784146-31', 'auto');
        ga('require', 'GTM-P9JKJ53');
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-7BJJ');
</script>
    
          <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="Spotify is a digital music service that gives you access to millions of songs.">
      <meta name="keywords" content="Spotify, music, online, listen, streaming, play, digital, album, artist, playlist">

              <meta property="fb:app_id" content="174829003346">
        <meta property="og:title" content="Music for everyone.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.spotify.com/us/signup/">
        <meta property="og:image" content="http://www.scdn.co/i/_global/open-graph-default.png">
        <meta property="og:description" content="Spotify is all the music you’ll ever need.">
                              <meta name="twitter:card" content="summary">
          <meta name="twitter:title" content="Music for everyone.">
          <meta name="twitter:image" content="http://www.scdn.co/i/_global/twitter_card-default.jpg">
          <meta name="twitter:description" content="Spotify is all the music you’ll ever need.">
                
    <title>Sign up  - Spotify</title>

          <link rel="icon" href="//www.scdn.co/i/_global/favicon.png">
      <!--[if IE]><link rel="shortcut icon" href="//www.scdn.co/i/_global/favicon.ico"><![endif]-->
    
          <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//www.scdn.co/i/_global/touch-icon-144.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//www.scdn.co/i/_global/touch-icon-114.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//www.scdn.co/i/_global/touch-icon-72.png">
      <link rel="apple-touch-icon-precomposed" href="//www.scdn.co/i/_global/touch-icon-57.png">
    
          <link rel="canonical" href="https://www.spotify.com/signup/">
    
      
  <link rel="stylesheet" href="//www.scdn.co/build/css/reboot-02b334b652.css" />

          <script src="//www.scdn.co/build/js/modernizr-bc8113e41c.js"></script>
            <script>
        Modernizr.addTest('flexboxtweener', Modernizr.testAllProps('flexAlign', 'end', true));
       </script>
      <script>
    (function() {
        var spAnalytics = window.spAnalytics || {};
        spAnalytics._q = [];
        function proxy(fn) {
            spAnalytics[fn] = function() {
                spAnalytics._q.push([fn].concat(Array.prototype.slice.call(arguments, 0)));
            };
        }
        var funcs = ["init", "logEvent", "setUserId", "setUserProperties", "setVersionName", "setDomain", "setGlobalUserProperties"];
        for (var i = 0; i < funcs.length; i++) {
            proxy(funcs[i]);
        }
        window.spAnalytics = spAnalytics;
    })();
</script>
              <script>
    (function(window, document) {
        var s = document.getElementsByTagName('script')[0];
        var as = document.createElement('script');
        as.type = 'text/javascript';
        as.async = true;
        as.src = '//www.scdn.co/build/js/sp-analytics-a3e2493d01.js';
        as.onload = function() { window.spAnalytics.runQueuedFunctions(); };
        s.parentNode.insertBefore(as, s);
    })(window, document);
</script>
          
          <script>
        var spweb = spweb || {};
spweb.config = {
  environment: {
    staticUrl: 'https://www.scdn.co'
  },
  sso: {
    host: 'https://accounts.spotify.com'
  },
  www: {
    host: 'www.spotify.com'
  },
  autologin: {
    ios: false,
    android: false,
    desktop_firefox: false,
    desktop_others: false,
    remotetoken: 'NAowChgKB1Nwb3RpZnkSABoGmAEByAEBJWraelkSFKJZLhjmBMZRLEX6Bljyf8L2XdgM'
  },
  facebook: {
    appId: 174829003346,
    locale: 'zz',
    version: 'v2.2',
    scopes: 'email,publish_actions,user_birthday,public_profile,user_friends'
  },
  twitter: {
    enable: true
  },
  sheerid: {
    universityUrl: 'https\x3A\x2F\x2Fservices.sheerid.com\x2Frest\x2F0.5\x2Forganization\x3Fcallback\x3D\x3F'
  }
};
      </script>
    
  </head>

      <body class="page-signup  m-us l-en page-signup is-loggedout  reboot ">
          <noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-7BJJ"
          height="0" width="0" style="display:none;visibility:hidden">
  </iframe>
</noscript>
    
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  
          <div id="fb-root"></div>
    
      <div class="wrap">

    
    
    
    <div class="sign-up">
  <div class="l-signup-header">
    <div class="container">
      <div class="l-box-content">
        <a class="spotify-logo" href="/us/"></a>
      </div>
    </div>
  </div>
    <div class="l-signup-body">
    <div class="container">
      <div class="l-box-content">
                <section class="signup-select">
          <form name="" method="post" action="us/xhr/json/sign-up-for-spotify-fb.php" id="js-register-with-facebook">
    <input type="hidden" id="data_source" name="data_source" value="www" />

  
    <input type="hidden" id="creation_flow" name="creation_flow" />

  <div class="content">
    <div class="js-general-error alert alert-info hidden" data-error="Oops! Something went wrong, please try again or check out our &lt;a href=&quot;/help/&quot;&gt;help area&lt;/a&gt;"></div>
    <a href="#" class="btn btn-facebook btn-block js-signup-fb" id="select-button-signup-fb">
      Sign up with Facebook
    </a>
    <fieldset>
      <ul>
                      </ul>
    </fieldset>
    <strong class="line-thru">or</strong>
  </div>
<input type="hidden" id="sp_csrf" name="sp_csrf" value="Kz1XbrGPk2hcvnyW47kHW7LHr7guDtJg3ZQ3dMwrW84" /></form>
        </section>
                <section class="register">
          <div class="content">
            <h2 class="center hdr-l">Sign up with your email address</h2>
            <form id="js-register-with-email" method="post" >

    <input type="hidden" id="data_source" name="data_source" value="www" />

  
  <input type="hidden" id="invisible_captcha" name="invisible_captcha" value="false" />

  <div class="js-general-error alert alert-info hidden" data-error="Oops! Something went wrong, please try again or check out our &lt;a href=&quot;/help/&quot;&gt;help area&lt;/a&gt;"></div>

    <input type="hidden" id="sp_csrf" name="sp_csrf" value="Kz1XbrGPk2hcvnyW47kHW7LHr7guDtJg3ZQ3dMwrW84" />

    <input type="hidden" id="creation_flow" name="creation_flow" />

  <input type="hidden" id="register-forward-url" name="forward_url" value="https://www.spotify.com/us/download/" />

  <input type="hidden" id="register-pre-tick-eula" name="signup_pre_tick_eula" value="true" />

  <fieldset>
    <ul>
      <li>
                <label class="sr-only required" for="register-email">Email</label>
        <input type="email" id="register-email" name="email" required="required" maxlength="100" placeholder="Email" required="required" data-msg-email="The email address you supplied is invalid." data-msg-remote="We&#039;re sorry, that email is taken." data-msg-required="Please enter your email." data-rule-remote="/us/xhr/json/isEmailAvailable.php" />
      </li>

      <li>
                <label class="sr-only required" for="register-confirm-email">Confirm email</label>
        <input type="email" id="register-confirm-email" name="confirm_email" required="required" maxlength="100" placeholder="Confirm email" required="required" data-msg-email="The email address you supplied is invalid." data-msg-equalTo="Email address doesn&#039;t match." data-msg-required="Please enter your email." data-rule-equalTo="#register-email" />
      </li>
      <li>
                <label class="sr-only required" for="register-password">Password</label>
        <input type="password" id="register-password" name="password" required="required" autocomplete="off" maxlength="100" placeholder="Password" required="required" data-msg-minlength="Your password is too short." data-msg-required="Please choose a password." data-rule-minlength="4" />
      </li>
      <li>
                <label class="sr-only required" for="register-username">Username</label>
        <input type="text" id="register-username" name="username" required="required" autocapitalize="off" autocorrect="off" autocomplete="off" maxlength="30" placeholder="Username" required="required" data-msg-minlength="Your username is too short." data-msg-remote="We&#039;re sorry, that username is not available." data-msg-required="Please choose a username." data-msg-nowhitespace="Spaces are not allowed in usernames." data-msg-forbiddenchars="Your username contains characters that we do not allow" data-rule-nowhitespace="true" data-rule-forbiddenchars="^[a-zA-Z0-9_\-\+]+$" data-rule-minlength="4" data-rule-remote="/us/xhr/json/isUsernameAvailable.php" />
      </li>
      <li id="li-dob" class="controls-dob" data-error-age="Sorry, but you don&#039;t meet Spotify&#039;s age requirements.">
        <label for="register-age">Date of birth:</label>
                <div id="register-dob" class="register-dob">
                      <div class="controls controls-month">
              <select id="register-dob-month" name="dob_month" required="required" required="required" class="dob" data-msg-required="When were you born?">            <option value=""  disabled="disabled" selected="selected">month</option>            <option value="01" >January</option>            <option value="02" >February</option>            <option value="03" >March</option>            <option value="04" >April</option>            <option value="05" >May</option>            <option value="06" >June</option>            <option value="07" >July</option>            <option value="08" >August</option>            <option value="09" >September</option>            <option value="10" >October</option>            <option value="11" >November</option>            <option value="12" >December</option></select>
            </div>
            <div class="controls controls-day">
              <input type="number" id="register-dob-day" name="dob_day" required="required" max="31" maxlength="2" min="1" pattern="[0-9]*" placeholder="day" required="required" class="dob" data-msg-required="When were you born?" data-msg-number="Please enter a valid day of the month." data-msg-min="Please enter a valid day of the month." data-msg-max="Please enter a valid day of the month." />
            </div>
            <div class="controls controls-year">
              <input type="number" id="register-dob-year" name="dob_year" required="required" min="1900" max="2004" maxlength="4" pattern="[0-9]*" placeholder="year" required="required" class="dob" data-msg-required="When were you born?" data-msg-number="Please enter a valid year." data-msg-min="Please enter a valid year." data-msg-max="Sorry, but you don&#039;t meet Spotify&#039;s age requirements." />
            </div>
                  </div>
      </li>
      <li id="li-gender" class="gender">
        <label class="sr-only">Gender:</label>
        <label for="register-male" class="radio control-inline">
          <input type="radio" id="register-male" name="gender" required="required" class="gender" required="required" data-msg-required="Please indicate your gender." value="male" />
          Male
        </label>
        <label for="register-female" class="radio control-inline">
          <input type="radio" id="register-female" name="gender" required="required" class="gender" required="required" data-msg-required="Please indicate your gender." value="female" />
          Female
        </label>
                  <label for="register-neutral" class="radio control-inline">
            <input type="radio" id="register-neutral" name="gender" required="required" value="neutral" />
            Non-binary
          </label>
        
      </li>
      
      <li id="li-thirdparty" class="thirdparty">
        <label for="register-thirdparty" class="checkbox">
          <input type="checkbox" id="register-thirdparty" name="thirdpartyemail" class="thirdparty" value="true" value="1" />
          Share my registration data with Spotify's content providers for marketing purposes.
        </label>
      </li>
      
      
              <li id="li-recaptcha">
              <div class="g-recaptcha" data-sitekey="6LdaGwcTAAAAAJfb0xQdr3FqU4ZzfAc_QZvIPby5" ></div>
            <input type="hidden" 
            class="hiddenRecaptcha required" 
            name="hiddenRecaptcha" 
            id="hiddenRecaptcha"
            data-error="Please&#x20;confirm&#x20;you&#x27;re&#x20;not&#x20;a&#x20;robot.">
    
        </li>
      
              <li class="li-terms-notick">
          <p class="notice">By clicking on Sign up, you agree to <a href="/us/legal/end-user-agreement/" target="_blank">Spotify's terms & conditions</a> and <a href="/us/legal/privacy-policy/" target="_blank">privacy policy</a></p>
        </li>
      
    </ul>
  </fieldset>
  <a href="#" id="register-button-email-submit" class="btn btn-green btn-block js-signup-email-submit">
    Sign up
  </a>
</form>
<p class="primary">
  Already have an account?
  <a id="register-link-login" data-section="login"
     data-tracking='{"category": "Registration", "action": "signup-form-login-link"}'
     href="../login/?continue=https%3A//www.spotify.com/us/download/">
    Log in
  </a>
</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

      </div>

  
         <script src="//www.scdn.co/build/js/spweb-site-bc996d1d3a.min.js"></script>
   
  <script src="//www.scdn.co/build/js/signup-b82a9ce53f.js"></script>
   <script>
    $(function() {
      spweb.register.init();
      spweb.login.init();
    });
  </script>
              <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaOnloadCallback&render=explicit" async defer></script>
    <script>
        window.recaptchaOnloadCallback = function() {
            var jqTag = $(".g-recaptcha");
            grecaptcha.render(
              jqTag[0],
              {
                'sitekey' : jqTag.data("sitekey"),
                'callback' : window.recaptchaSuccessCallback,
                              }
            );
        };
    </script>

  
    <script>results = ["9dd8e63529fc0403d77fa395faa14f7dc83bf3bc6bdf4064d08043ad9abb626b", "jnBNwEgZIsTTvLqwug0a4MbGio0F9W3HEvmzSL9ppYcksRN5w4jAhZwJd+vRnriWa+TylqN2YZyRm++Q+H3ZASldzw6r/7KoSLNmSFphoLmIATl+ovJR5bS9UTfY8cyojQkKqKCKtUc4XskWQdoRDla8mrHq1YQij7BMBNqepbE5oquYrYvNigo4y9dFfwfr9ktUIYzoNl1Mpaz1ZqVZa1uHffUBC6SBqkFkhtf1MI2h1sXCHPnxDwh2+qZSW3Be",1501281130,1264301076];</script>
    <script src="//www.scdn.co/build/js/bon-32c3a6a7e1.js"></script>
    <script src="//vt.myvisualiq.net/2/afTxMmlGwCNRJiC5Bd75ug%3D%3D/vt-150.js"></script></body>
<!-- This page was rendered using Twig -->
</html>
