<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Blog - Lit Lifter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="stylesheet.css">
</head>

<div id="container">
    <div id="header">
        <a href="file:///Users/lanehenslee/Documents/html%20designs/home.html#" class="headerlogo"><img src="sideways_light_logo.png" class="headerlogo"></a>
        <div id="menu-icon">
            <ul class="navbar">
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/workout.html" class="navbar">Chaos Builder</a></li>
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/blog.html" class="navbar">Blog</a></li>
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/signup.html" class="navbar">Sign Up</a></li>
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/login.html?username=&password=&Submit=Login#" class="navbar">Login</a></li>
            </ul>
        </div>
        <nav>
            <ul class="navbar">
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/workout.html" class="navbar">Chaos Builder</a></li>
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/blog.html" class="navbar">Blog</a></li>
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/signup.html" class="navbar">Sign Up</a></li>
                <li class="navbar"><a href="file:///Users/lanehenslee/Documents/html%20designs/login.html?username=&password=&Submit=Login#" class="navbar">Login</a></li>
            </ul>
        </nav>
    </div>
    <div class="socialnav">
        <ul class="socialnav">
            <li class="socialnav"><a href="#"><img src="linkedin.gif" id="linkedin" class="socialnav"></a></li>
            <li class="socialnav"><a href="#"><img src="twitter.png" id="twitter" class="socialnav"></a></li>
            <li class="socialnav"><a href="#"><img src="facebook.png" id="facebook" class="socialnav"></a></li>
        </ul>
    </div>
    <div id="body-background"></div>
    <div id="body">
        <div class="blog">
            <h1 class="blog">Here goes the title.</h1>
            <p class="date">This article was written on date at time.</p>
            <p class="blog">The blogs go here</p>
        </div>
    </div>
    <div id="footer">
        <div class="footerlogo">
            <a href="#"><img src="sideways_light_logo.png" class="footerlogo"></a>
        </div>
        <div id="adminpages">
            <ul class="adminpages">
                <li class="resources">Admin Pages</li>
                <li class="resources"><a href="#">Admin</a></li>
                <li class="resources"><a href="#">Database</a></li>
                <li class="resources"><a href="#">Blog</a></li>
            </ul>
            <ul id="jobs">
                <li class="resources">Jobs</li>
                <li class="resources"><a href="#">Workout Videos</a></li>
                <li class="resources"><a href="#">Supplement Suppliers</a></li>
                <li class="resources"><a href="#">Web Designer</a></li>
            </ul>
            <ul id="interests">
                <li class="resources">Inerests</li>
                <li class="resources"><a href="#">Stock Analysis</a></li>
                <li class="resources"><a href="#">Programming</a></li>
                <li class="resources"><a href="#">Healthy Lifestyle</a></li>
            </ul>
        </div>
    </div>
</div>
</html>