{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home - Lit Lifter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'handmade/stylesheet.css' %}" type="text/css">
</head>

<div id="container">
    {% include 'handmade/navbar.html' %}
    <div id="body-background"></div>
    <div id="body">
        <div class="hometitle">
            <h1 class="hometitle">Workouts for Everyone.</h1>
        </div>
    </div>
    <div id="footer">
        <div class="footerlogo">
            <a href="/"><img src="{% static 'handmade/sideways_light_logo.png' %}" class="footerlogo"></a>
        </div>
        <div id="adminpages">
            <ul class="adminpages">
                <li class="resources">Admin Pages</li>
                <li class="resources"><a href="/admin">Admin</a></li>
                <li class="resources"><a href="/database">Database</a></li>
                <li class="resources"><a href="#">Blog</a></li>
            </ul>
            <ul id="jobs">
                <li class="resources">Jobs</li>
                <li class="resources"><a href="#">Workout Videos</a></li>
                <li class="resources"><a href="#">Supplement Suppliers</a></li>
                <li class="resources"><a href="#">Web Designer</a></li>
            </ul>
            <ul id="interests">
                <li class="resources">Inerests</li>
                <li class="resources"><a href="#">Stock Analysis</a></li>
                <li class="resources"><a href="#">Programming</a></li>
                <li class="resources"><a href="#">Healthy Lifestyle</a></li>
            </ul>
        </div>
    </div>
</div>
</html>