{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Login - Lit Lifter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'handmade/stylesheet.css' %}" type="text/css">
</head>

<div id="container">
    {% include 'handmade/navbar.html' %}
    <div id="body-background"></div>
    <div id="signupbody">
        <div class="pagedivider"></div>
        <div class="login">
            <form class="login" method="post">
            {% csrf_token %}
                <ul class="login">
                    <li id="liheader">Username and Password</li>
                    <li class="login"><br><input type="text" id="username" class="login" name="username" placeholder="{{username_attempt}}"></li>
                    <li class="login"><input type="password" id="password" class="login" name="password" placeholder="{{password_attempt}}"></li>
                    <li class="login submit-login"><button type="submit" formmethod="post" value="login" name="Submit" class="login">Login</button></li><br>
                </ul>
            </form>
        </div>
        <div class="pagedivider"></div>
    </div>
</div>
</html>