{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Chaos Builder - Lit Lifter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'handmade/stylesheet.css' %}" type="text/css">
</head>

<div id="container">
    {% include 'handmade/navbar.html' %}
    <div id="body-background"></div>
    <div id="signupbody">
        <div class="pagedivider"></div>
        <div class="login">
            <form class="login" method="post">
            {% csrf_token %}
                <ul class="login">
                    <li id="liheader">Sign Up with Email</li>
                    <li class="login"><br><input type="text" class="login" name="username" placeholder="{{username}}"></li>
                    <li class="login"><input id="email" type="text" class="login" name="email" placeholder="{{email}}"></li>
                    <li class="login"><input id="email2" type="text" class="login" name="email2" placeholder="{{email2}}"></li>
                    <li class="login"><input id="password" type="password" class="login" name="password" placeholder="{{password}}"></li>
                    <li class="login"><input id="password2" type="password" class="login" name="password2" placeholder="{{password2}}"></li>
                    <li class="login selection"><select class="login" name="Experience">
                        <option value="intermediate">Select Difficulty</option>
                        <option value="easy">Easy</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="hard">Hard</option>
                        <option value="extreme">Extreme</option>
                    </select></li>
                    <li>Desired Equipment</li>
                    <li><input type="checkbox" name="Equipment" value="Barbell"> Barbell</li>
                    <li><input type="checkbox" name="Equipment" value="Dumbbell"> Dumbbell</li>
                    <li><input type="checkbox" name="Equipment" value="Machine"> Machine</li>
                    <li><input type="checkbox" name="Equipment" value="Cable"> Cable</li>
                    <li><input type="checkbox" name="Equipment" value="E-Z Curl Bar"> E-Z Curl Bar</li>
                    <li><input type="checkbox" name="Equipment" value="Kettlebells"> Kettlebells</li>
                    <li><input type="checkbox" name="Equipment" value="Medicine Ball"> Medicine Ball</li>
                    <li><input type="checkbox" name="Equipment" value="Exercise Ball"> Exercise Ball</li>
                    <li><input type="checkbox" name="Equipment" value="Body Only,None"> Body Only</li>
                    <li><input type="checkbox" name="Equipment" value="Other"> Other</li>
                    <li class="login submit-login"><button type="submit" value="Login" name="Submit" class="login">Sign Up</button></li>
                </ul>
            </form>
        </div>
        <div class="pagedivider"></div>
    </div>
</div>
</html>
<script>
function printSelect(a, b, c) {
    var selectvalue = document.getElementById(a).value;
    var stylechange = document.querySelector(b).style;
    if (selectvalue == c) {
        stylechange.display = "block";
    }
    if (selectvalue != c) {
        stylechange.display = "none";
    }
}
</script>