<html>
  <body>{% extends "personal/header.html" %}{% block content %}{% include "wbuilder/includes/checkboxes.html" %}
  <table class="col-sm-8">
    <tr>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
	<tr>
		<td>Exercise 1</td>
		<td>####</td>
		<td>####</td>
	</tr>
	<tr>
		<td>Exercise 2</td>
		<td>####</td>
		<td>####</td>
	</tr>
	<tr>
		<td>Exercise 3</td>
		<td>####</td>
		<td>####</td>
	</tr>
	<tr>
		<td>You Get the Idea</td>
		<td>####</td>
		<td>####</td>
	</tr>
  </table></body>{% endblock %}
</html>
